

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">



<link rel="alternate" type="application/rss+xml" href="/feed.xml" title="Computer science">



<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/common-vendor.b8ecfc406ac0b5f77a26.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/font-vendor.b86e2bf451b246b1a88e.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/fretboard.f32f2a8d5293869f0195.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/pretty.0ae3265014f89d9850bf.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/pretty-vendor.83ac49e057c3eac4fce3.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/misc.css') }}">

<style>
@font-face {
    font-family: MJXc-TeX-math-Iw;
    src: url("https://assets.hackmd.io/build/MathJax/fonts/HTML-CSS/TeX/woff/MathJax_Main-Regular.woff")
}
@font-face {
    font-family: MJXZERO;
    src: url("https://assets.hackmd.io/build/MathJax/fonts/HTML-CSS/TeX/woff/MathJax_Main-Regular.woff")
}
@font-face {
    font-family: MJXTEX;
    src: url("https://assets.hackmd.io/build/MathJax/fonts/HTML-CSS/TeX/woff/MathJax_Main-Regular.woff")
}

.math { font-family: MJXc-TeX-math-Iw }
</style>

<div id="doc" class="container-fluid markdown-body comment-enabled" data-hard-breaks="true">


<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Computer science" />
<meta name="twitter:image" content="http://vitalik.ca/images/icon.png" />


<title> Computer science </title>
<br>
<center><h1 style="border-bottom:0px"> Computer science </h1></center>

<center><hr>
<span class="toc-category" style="font-size:100%"><a href="/categories/ai.html">Ai</a></span>
<span class="toc-category" style="font-size:100%"><a href="/categories/philosophy.html">Philosophy</a></span>
<span class="toc-category" style="font-size:62%"><a href="/categories/computer science.html">Computer science</a></span>
<span class="toc-category" style="font-size:100%"><a href="/categories/general.html">General</a></span>
<hr></center>

<br>
<ul class="post-list" style="padding-left:0">



<li>
    <span class="post-meta">2021 Jul 07</span>
    <h3 style="margin-top:12px">
      <a class="post-link" href="/templates/2021/07/07/zksnarks.html">zk-SNARKs: A 30,000 Foot View</a>
    </h3>
</li>

 </ul> 