{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/about_us.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/hoi.css') }}" />
<p align="center">
    <img style="position: fixed; bottom: 0px; right: 275px;" src="static/../../static/images/breve_logo.png"/>
    <div class="overlay">Breve</div>  
    <p>Wolfgang. Amadeus. Mozart.</p>
    <p>Wolfgang. Amadeus. Mozart.</p>
    <p>Wolfgang. Amadeus. Mozart.</p>
    <p>Wolfgang. Amadeus. Mozart.</p>
    <p>Wolfgang. Amadeus. Mozart.</p>
</p>
{% endblock %}