<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/common-vendor.b8ecfc406ac0b5f77a26.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/font-vendor.b86e2bf451b246b1a88e.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/fretboard.f32f2a8d5293869f0195.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/pretty.0ae3265014f89d9850bf.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/pretty-vendor.83ac49e057c3eac4fce3.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/misc.css') }}">

<style>
@font-face {
    font-family: MJXc-TeX-math-Iw;
    src: url("https://assets.hackmd.io/build/MathJax/fonts/HTML-CSS/TeX/woff/MathJax_Main-Regular.woff")
}
@font-face {
    font-family: MJXZERO;
    src: url("https://assets.hackmd.io/build/MathJax/fonts/HTML-CSS/TeX/woff/MathJax_Main-Regular.woff")
}
@font-face {
    font-family: MJXTEX;
    src: url("https://assets.hackmd.io/build/MathJax/fonts/HTML-CSS/TeX/woff/MathJax_Main-Regular.woff")
}

.math { font-family: MJXc-TeX-math-Iw }
</style>

<div id="doc" class="container-fluid markdown-body comment-enabled" data-hard-breaks="true">


<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Joshua Stapleton's website" />
<meta name="twitter:image" content="http://vitalik.ca/images/icon.png" />


<br>
<h1>
  <div class='parent flex-parent'>
    <div class='child flex-left-child'>Joshua Stapleton's Blog</div> <!-- Joshua Stapleton's  -->
    <div class='child flex-right-child'>
      <i class="fas fa-clock"></i>
    </div>
  </div>
</h1>

<br>
<br>
<ul class="post-list">

<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://kit.fontawesome.com/778ef04aa6.js" crossorigin="anonymous"></script>
<!--Get your own code at fontawesome.com-->

  <li>
    <span class="post-meta">2021/07/06</span>
    <h3>
      <a class="post-link" href="meaning_of_life.html">The Seven Meanings of Life</a>
    </h3>
  </li>
  <li>
    <span class="post-meta">2021/07/07</span>
    <h3>
      <a class="post-link" href="zksnarks.html">zk-SNARKs: A 30,000 Foot View</a>
    </h3>
  </li>
  <li>
    <span class="post-meta">2021/07/17</span>
    <h3>
      <a class="post-link" href="ai_horror.html">AI Horror: A Study in Derangement</a>
    </h3>
  </li>
  <li>
    <span class="post-meta">2021/07/17</span>
    <h3>
      <a class="post-link" href="gpt3_demo.html">GPT3 Demo</a>
    </h3>
  </li>
  <li>
    <span class="post-meta">2021/07/24</span>
    <h3>
      <a class="post-link" href="feral_mozart.html">Symphonies and Scatology: Mozart At His Most Feral</a>
    </h3>
  </li>
</ul>